body{
    background-color: hsl(0, 0%, 10%);
}
.to-do-list{
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
}
h1{
    font-size: 4rem;
    color: white;
}
button{
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;/*Change curser when coming into button vincinity */
    transition: background-color 0.5s ease;
}
.test:hover{
    background-color: rgb(4, 118, 61);
}
.test{
    background-color: rgb(128, 133, 132);
}

.In-progress-button:hover{
    background-color: rgb(214, 190, 13);
}
.In-progress-button{
    background-color: rgb(128, 133, 132);

}

.done-button:hover{
    background-color: rgb(3, 90, 90);
;
}
.done-button{
    background-color: rgb(128, 133, 132);

}



.add-button{
    background-color: hsl(125, 47%, 54%);
    width: 100px;
    margin-left: 10px;

}
.add-button:hover{
    background-color: hsl(125, 47%, 44%);
    /* position: absolute; */
    
}
.delete-button{
    background-color: hsl(10, 90%, 50%);
    
}
.delete-button:hover{
    background-color: hsl(10, 90%, 40%);
}
.move-button{
    background-color: hsl(207, 90%, 64%);
}
.move-button:hover{
    background-color: hsl(207, 90%, 54%);
}
input[type="text"]{
    font-size: 1.6rem;
    padding: 10px;
    border: 2px solid hsla(0, 0%, 80%, 0.5);
    border-radius: 5px;
    color: hsla(0, 0%, 0%, 0.5);
    width:150px;

}
ol{
    padding: 0;
}

.grid {
 
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-start: auto;
    grid-gap: 20px;
    margin-left: 20px;

}

.to-do{
    width: 350px;
/* 

     grid-template-rows: auto auto auto auto;
     margin-left: 50px; */

}
li{
    font-size: 1.4rem;
    font-weight: bold;
    padding: 10px;
    background-color: hsl(0, 0%, 97%);
    margin-bottom: 10px;
    border: 3px solid hsla(0, 0%, 85%, 0.75);
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.text{
    flex: 1;
}
.delete-button, .move-button{
    padding: 8px 12px;
    font-size: 1.4rem;
    margin-left: 11px;
}