name: "build pipeline for web release"


on: 
  push:
    branches:
    - main


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js 20.10.0
      uses: actions/setup-node@v4
      with:
        node-version: 20.10.0
      run: npm ci
      run: npm install 
      run: npm run test
      run: npm run build
    